.profile-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid currentColor;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
    font-family: "Meiryo", "メイリオ", sans-serif;
}

.profile-button:hover {
    opacity: 0.8;
}

.article-image {
    border: 2px solid black;
}

